mixin promo()
  div promo
    p Новое поступление книги "Симпсоны и их математические секреты"
    p Для поклонников сериала "Симпсоны" и для всех, кому интересна математика
    a Хочу узнать о книге больше

