// В этом файле должны быть стили для БЭМ-блока search-input, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-input {
  $block-name: &; // #{$block-name}__element

  border: none;
  caret-color: $add-color;
  font-family: $text-font;
  font-size: 16px;
  color: $main-color;
  outline: none;
  margin: 0 10px;
  overflow: hidden;
  flex-grow: 2;
  display: none;

  &::placeholder {
    color: $third-color;
    font-size: 16px;
    padding: 0 10px;
  }
}
