// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {

  $block-name:                &; // #{$block-name}__element

  &__container {
    font-family: $main-bold;
    font-size: 16px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 20px 0 65px;
  }

  &__item {
    flex: 1;
    text-align: center;

    &--active {
      color: $span-color;
    }
  }
  &__link {
    line-height: 30px;
    text-align: center;

    &:hover {
        background-color: $light-color;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: block;
        outline: none;
    }

    // &:visited {
    //     color: $area-color;
    // }
  }
}
