mixin recommendations()
  .recommendations__container
    h2.recommendations__title Наши рекомендации
    .recommendations__content
      .recommendations__left
        .recommendations__item.recommendations__article
          h3 Новая статья в блоге
          p Посмотрите, как чтение книг меняет восприятие человека.
          a.link(href="#") Читать статью
        .recommendations__item.recommendations__photo
          h3 Наши подборки ваших лучших фотографий у нас
        .recommendations__item.recommendations__feedback
          h3 Нам важно ваше мнение!
          p Ставьте пальцы вверх, мы хотим знать ваше мнение
          a.btn(href="#") Проголосовать
        .recommendations__item.recommendations__best
          h3 Книга осени
          p Проголосуй за лучшую книгу осени
        .recommendations__item.recommendations__kids
          h3 Книги для детей
          p У нас появился новый раздел, в котором мы подбираем книги для юных читателей
        .recommendations__item.recommendations__old
          h3 У вас есть старые книги?
          p Приносите их нам и обменяйте на новые
      .recommendations__right.recommendations__gift
          h3 Книга в подарок!
          p При вашем новом заказе мы подарим вам книгу



