// В этом файле должны быть стили для БЭМ-блока books-extended, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.extended {

  $block-name:                &; // #{$block-name}__element

  &__container {
    max-width: 300px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas:
      "data"
      "gallery"
      "numbers"
      "descr";

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 3fr 5fr;
      grid-column-gap: 40px;
      grid-template-areas:
        "gallery  data"
        "gallery  numbers"
        "descr   descr";

    }

    @media (min-width: $desktop) {
      grid-template-columns: 2fr 4fr 6fr;
      grid-column-gap: 40px;
      grid-template-areas:
        "gallery  gallery  data"
        "gallery  gallery  numbers"
        ". descr descr";
    }
  }

  &__data {
    grid-area: data;
  }

  &__gallery {
    grid-area: gallery;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    @media (min-width: $desktop) {
      flex-direction: row-reverse;
      align-items: stretch;
    }
  }

  &__numbers {
    grid-area: numbers;
  }

  &__add {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

    &__descr {
    grid-area: descr;
  }

  &__container .btn {
    display: block;
    width: 100%;
  }

  &__previews {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border: 4px $border-color solid;
      margin-top: 22px;
    }

    @media (min-width: $desktop) {
      flex-direction: column;
      max-width: 160px;
      width: 100%;
      align-items: stretch;
      justify-content: space-around;
      margin-top: 40px;
    }
  }

  &__previews-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $overlay-color;
    padding: 40px 0;
    display: none;

    @media (min-width: $desktop) {
      padding: 70px 0;
    }
  }

  &__previews-item {
    text-align: center;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:hover {
      .extended__previews-overlay {
        display: block;
      }
    }
  }

  &__previews-item img {
    @media (min-width: $desktop) {
      max-width: 120px;
      width: 100%;
      height: auto;
    }
  }

  &__author {
    font-family: $main-bold;
    font-size: 14px;
    margin-top: 20px;

    @media (min-width: $tablet) {
      margin-top: 40px;
    }
  }

  &__title {
    font-family: $main-bold;
    font-size: 36px;
    margin: 20px 0;

    span {
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__subtitle {
    font-family: $main-medium;
    font-size: 16px;
    color: $darkest-color;
    margin: 20px 0 30px;
  }

  &__photo {
    max-width: 300px;
    height: auto;
    width: 100%;
    margin-top: 0;

    @media (min-width: $tablet) {
      margin-top: 40px;
    }

    @media (min-width: $tablet) {
      max-width: 320px;
      height: auto;
    }
  }

  &__table {
    font-family: $main-medium;
    font-size: 14px;
    table-layout: auto;
    width: 100%;

    @media(min-width: $tablet) {
      max-width: 250px;
    }

    td {
      width: 50%;
      padding-top: 20px;

      &:nth-child(1) {
        color: $table-color;
      }
    }
  }

  &__add {
    display: flex;
    flex-direction: column;

    @media(min-width: $tablet) {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      max-width: 360px;
    }

    @media(min-width: $desktop) {
      max-width: 400px;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .btn {
      @media(min-width: $tablet) {
        max-width: 200px;
       }

      @media(min-width: $desktop) {
        max-width: 260px;
      }
    }
  }


  &__count {
    font-family: $main-medium;
    font-size: 14px;
    margin: 20px 14px 20px 0;
    border: none;
    background-color: $area-color;
    padding: 19px;
    max-width: 80px;
    border-radius: 2px;
    text-align: center;

    &:hover {
          background-color: $input-hover;
          transition: all 0.3s;
    }

    &:focus {
      outline: none;
      background-color: $input-focus-bkg;
      border: 2px solid $input-focus-brd;
    }
  }


  &__likes {

    margin-top: 19px;

    span {
      font-family: $main-italic;
      font-size: 14px;
      margin-left: 18px;
    }
  }

  &__descr {
    @media (min-width: $tablet) {
      padding-left: 20px;
    }
  }

  &__descr-title {
    font-family: $main-bold;
    font-size: 24px;
  }

  &__descr-text {
    font-family: $main-medium;
    font-size: 16px;
    color: $darkest-color;
    margin-bottom: 30px;
  }

  &__more {
    font-family: $main-medium;
    font-size: 16px;
    color: $link-color;
    margin-bottom: 50px;

    svg {
      fill: currentColor;
      margin-left: 10px;
    }
  }

  &__descr-icons {
    font-family: $main-bold;
    color: $darkest-color;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    margin-bottom: 0;
    max-width: 270px;

  }

  &__descr-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-left: 9px;
    }

    &:hover {
      color: $svg-color;

      svg {
        fill: $svg-color;
      }
    }

    &:visited {
      color: $link-color;

      svg {
        fill: $link-color;
      }
    }
  }
}
