mixin contacts-form()
  .contacts-form__container
    .contacts-form__inner
      //- h2.contacts-form__title Есть вопросы?
      //- p.contacts-form__descr Напишите нам на почту. Отвечаем в течение дня
      form.contacts-form__content
        .contacts-form__first
          h2.contacts-form__title Есть вопросы?
          p.contacts-form__descr Напишите нам на почту. Отвечаем в течение дня
          .contacts-form__fields
            input.contacts-form__mail(type="text" placeholder="Ваша почта")
            input.contacts-form__msg(type="text" placeholder="Сообщение")
          .contacts-form__agree
            .contacts-form__checkbox
              input.contacts-form__checkbox-input(type="checkbox" id="check")
              label.contacts-form__checkbox-custom(for="check")
            p.contacts-form__checkbox-label
              |  Я согласен(-на) с
              |
              a.link(href="#") политикой конфиденциальности
              |  и
              |
              a.link(href="#") правилами обработки данных
        .contacts-form__last
          input.contacts-form__submit.btn(type="submit" value="Отправить")

