mixin search-results()
  .search-results
    ul.search-results__list
      li.search-results__item 
        span.search-results__item--highlighted Min
        |sk, 
        span.search-results__item--country Belarus
      li.search-results__item 
        span.search-results__item--highlighted Min
        | eralnye vody, 
        span.search-results__item--country Russia

