// В этом файле должны быть стили для БЭМ-блока search-results, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-results {
  $block-name: &; // #{$block-name}__element

  border-top: $border-color solid 1px;
  display: none;

  &__list {
    margin: 0;
    padding: 0 0 20px;
  }

  &__item {
    margin: 20px 47px 0;
    font-family: $text-font;
    font-size: 14px;
    color: $main-color;
    overflow: hidden;

    &--highlighted {
      font-family: $text-font-bold;
    }

    &--country {
      color: $third-color;
    }
  }
}
