// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  display: block;
  margin: 0;

  &:hover {
    background-color: $svg-color;
    transition: all 0.3s;
    cursor: pointer;
  }

  &:active {
    background-color: $pressed-color;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
  }
}
