// В этом файле должны быть стили для БЭМ-блока info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info {
  $block-name: &; // #{$block-name}__element

  padding: 0 25px 25px 25px;
  color: $main-color;
  font-family: $text-font;
  font-size: 15px;
  line-height: 22px;
  display: none;

  &__title {
    font-family: $title-font;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }

  &__text {
    margin: 10px 0 5px;
  }

  &__more {
    color: $add-color;
    text-decoration: underline;
    margin: 0;
  }
}
