mixin info()
  .info
    h2.info__title Get Map for In&nbsp;Season Nitrogen Application in&nbsp;10&nbsp;seconds
    p.info__text Find your field on&nbsp;the map or&nbsp;create a&nbsp;new border. Then click on&nbsp;the field and get the file for variable rate application for the onboard computer of&nbsp;your machinery.
    a.info__more(href="#") How it works
