// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {
  $block-name: &; // #{$block-name}__element

  box-shadow: 0px 2px 4px #000000;
  max-width: 340px;
  min-width: 300px;
  width: 100%;
  margin: 10px;

  @media (min-width: 768px) {
    margin: 40px;
  }
}
