mixin mobile-nav()
  div.mobile-nav
    +main-nav()
    a.link
      svg.page-header__phone(width="16", height="16")
        use(xlink:href="img/sprite-svg.svg#icon-phone")
      span 8 800 500-80-20

