//- mixin books-item(title,price,img)
//-   div.books-item
//-     img.books-item__photo(alt= title,src= img)
//-     h3.books-item__title= title
//-     block
//-     span.books-item__price
//-      =  price
//-      |  &#8381;


mixin books-item(book)


  //- .books-item
  div(class= book.hide ? 'books-item hide-mobile' : 'books-item')
    a.books-item__link(href="#")
      img.books-item__photo(alt= book.title,src= book.image)
      h3.books-item__title= book.title
      if book.description
        p.books-item__description= book.description

      if book.price
        span.books-item__price
          = book.price
          |  &#8381;



    //- if
    //-   for (let i=0; items.length >i; i++)

    //- each book in booksList
    //-   +books-item(book)
