mixin books()
  div books

    -
      var menu = {
        'Все': '/all',
        'Маркетинг': '/marketing',
        'Научпоп': '/popsci'
        'Бизнес': '/business'
        'Творчество': '/art'
        'Бизнес': '/business'
      };

    nav.books__nav
