mixin page-footer()
  footer.page-footer
    .page-footer__container
      .page-footer__left
        a.page-footer__logo(href="#")
          img.logo(alt="logo", src="img/logo.jpg")
        span с 9:00 до 19:00
      .page-footer__right
        block
