mixin contacts()
  div.contacts__container-first
    h2.contacts__title Контакты
    .contacts__content
      ul.contacts__list
        li.contacts__item Набережная реки Фонтанки, 202
        li.contacts__item с 9:00 до 19:00 ежедневно
        li.contacts__item +7 (911) 123 45 67

  +map

  div.contacts__container-second
    block

