// В этом файле должны быть стили для БЭМ-блока new, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new {

  $block-name:                &; // #{$block-name}__element

  &__container--first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 30px;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__title {
    font-family: $main-bold;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
  }

  &__more {
    font-family: $main-medium;
    font-size: 16px;
    margin-top: 30px;
  }

  &__inner {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;



    // @media (min-width: $tablet) {
    //   width: 1160px;
    //   padding: 0;
    // }

  }

  &__last {
    width: 100%;
    background: linear-gradient(to bottom, $background-color 20%, $light-color 20%);
  }

  &__content {
    overflow: scroll;
    margin: 0 -30px;
  }



}
