mixin new(book)

  -
    var newBooks = [
      {
        title: 'Латеральная логика',
        description: 'Головоломный путь к нестандартному мышлению',
        image: '../img/book1.jpg'
      },
      {
        title: 'Путеводитель по лжи',
        description: 'Критическое мышление в эпоху постправды',
        image: '../img/book2.jpg'
      },
      {
        title: 'Дао физики',
        description: 'Исследование параллелей между современной физикой и восточной философией',
        image: '../img/book3.jpg',
      },
      {
        title: 'Не очевидно',
        description: 'Как выявлять тренды раньше других',
        image: '../img/book4.jpg'
      }
    ];

  div.new__first
    .new__container--first
      h2.new__title Наши новинки
      a.new__more(href="#") Все новинки
    .new__last
      .new__container--last
        .new__content
          .new__inner
            each book in newBooks
              +books-item(book)


