mixin card-buttons()
  .card-buttons
    a.card-buttons__left(href="#") 
      svg(width="16", height="14")
        use(xlink:href="img/sprite-svg.svg#search")
    a.card-buttons__right(href="#") 
      block
