mixin library()
  section.library
    .library__container
      svg(width="99", height="14")
        use(xlink:href="img/sprite-svg.svg#icon_curl")
      h2.library__title Мы открыли для вас уютную библиотеку
      p.library__info Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00

