// В этом файле должны быть стили для БЭМ-блока library, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.library {

  $block-name:                &; // #{$block-name}__element

  background: url('../img/library-bg.jpg') no-repeat center;
  background-size: cover;

  margin: 0;
  padding: 0;

  &__container {
    color: #fff;
    text-align: center;
    padding: 38px 15px 49px;

    @media (min-width: $tablet) {
      padding: 68px 0 75px;
    }

    @media (min-width: $desktop) {
      padding: 68px 0 115px;
    }
  }

  &__title {
    font-family: $main-bold;
    font-size: 24px;
    padding: 40px 0 33px;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 36px;
      padding: 45px 0 25px;
    }
  }

  &__info {
    font-family: $main-regular;
    font-size: 16px;
    margin: 0;
  }

}
