extends templates/layout.pug

block meta
  title Home
  meta(name='description', content='Home page!')

block nav
  -var selected = 'компактная';
  +nav(selected)

block logo
  svg(width="80", height="28")
    use(xlink:href="img/sprite-svg.svg#logo-collapsed")

block button-right
  svg(width="11", height="8")
    use(xlink:href="img/sprite-svg.svg#arrow-down")