//- Подключение примесей

include blocks/nav/nav.pug
include blocks/header/header.pug
include blocks/card/card.pug
include blocks/info/info.pug
include blocks/card-header/card-header.pug
include blocks/search-results/search-results.pug
include blocks/logo/logo.pug
include blocks/search-input/search-input.pug
include blocks/card-buttons/card-buttons.pug
