extends templates/layout.pug

block meta
  title Home
  meta(name='description', content='Home page!')

block nav
  -var selected = 'поиск';
  +nav(selected)

block logo
  svg(width="13", height="17")
    use(xlink:href="img/sprite-svg.svg#logo-searching")

block search-input
  +search-input()

block button-right
  svg(width="20", height="20")
    use(xlink:href="img/sprite-svg.svg#close")
