// Подключение своих шрифтов.
// Не пишите тут ничего, кроме @font-face

@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('../fonts/subset-Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/subset-Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/subset-OpenSans-Bold.woff') format('woff'),
    url('../fonts/subset-OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/subset-OpenSans-Regular.woff') format('woff'),
    url('../fonts/subset-OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
