

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

[class*="__container"] {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
      max-width: 760px;
    }

  @media (min-width: $desktop) {
      max-width: 1160px;
    }
}

[class*="__more"], .link {
  color: $link-color;
  cursor: pointer;

  &:hover {
    color: $link-hover;
    transition: all 0.3s;
  }

  &:visited {
    color: $link-used;
    transition: all 0.3s;
  }
}

.hide-mobile {

  @media (max-width: $tablet) {
    display: none;
  }
}







