// COLORS

$main-color: #222; // dark
$add-color: #20bf55; //green
$third-color: #9b9b9b; //light gray
$border-color: rgba(155, 155, 155, 0.2); // lightest gray

// FONTS

$title-font: 'Montserrat ExtraBold', serif;
$text-font: 'OpenSans-Regular', serif;
$text-font-bold: 'OpenSans-Bold', serif;

$font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
  sans-serif;
$font-size: 14px;
$line-height: 1.4;
