mixin filter(genre)

  -
    var genres = {
      'Все': '#all',
      'Маркетинг': '#marketing',
      'Научпоп': '#science',
      'Бизнес': '#business',
      'Творчество': '#creativity'
    };



  .filter__wrap
    .filter__container
      .filter__content
        ul.filter__list
          each val, key in genres
            li(class= genre.toLowerCase() === key.toLowerCase() ? 'filter__item  filter__item--active' : 'filter__item')
              a.filter__link(href=val, data-type= val)= key

