mixin filter()

  -
    var genres = {
      'Все': '#all',
      'Маркетинг': '#marketing',
      'Научпоп': '#science',
      'Бизнес': '#business',
      'Творчество': '#creativity'
    };



  //- div.filter
  //-   ul.filter__list
  //-     each val, key in genres
  //-       li(class= selected.toLowerCase() === key.toLowerCase() ? 'filter__item  filter__item--active' : 'filter__item')
  //-         a(href=val, title=key)= key

