// В этом файле должны быть стили для БЭМ-блока slider-item, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo-item {

  $block-name:                &; // #{$block-name}__element

  @media(min-width: $tablet) {
    margin-left: 105px;
    margin-right: 100px;
  }

  @media (min-width: $desktop) {
    margin-left: 60px;
    margin-right: 60px;
  }

  &:focus{
    outline: none;
  }


  &__title {
    font-family: $main-italic;
    color: #000;
    font-size: 14px;
    padding-top: 40px;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 16px;
      padding-top: 53px;
    }

    @media (min-width: $desktop) {
      padding-top: 56px;
      margin-left: 40px;
      max-width: 360px;
    }
  }

  &__description {
    font-family: $main-bold;
    color: #000;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      font-size: 30px;
      margin-bottom: 36px;
    }

    @media (min-width: $desktop) {
      font-size: 40px;
      margin-bottom: 36px;
    }
  }

  &__more {
    font-family: $main-medium;
    font-size: 16px;
  }

  &__container {
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__first {

    @media (min-width: $desktop) {
      flex: 2;
    }
  }

  &__last {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      padding-top: 40px;
      flex: 1;
      align-self: flex-end;
    }
  }

  &__photo {
      max-width: 302px;
      width: 100%;
      height: auto;

  }

  &__content {
    border: 8px solid $border-color;
    margin: 24px -20px 0;
    padding: 44px 11px 28px;

    @media (min-width: $tablet) {
      padding: 43px 34px 58px;
      margin: 24px 0 0;
    }

    @media (min-width: $desktop) {
      padding: 43px 31px 48px;
      margin: 44px 0 0;
      max-width: 500px;

      p {
        margin-right: -100px;
      }
    }
  }

}
