mixin promo-item(title,img)
  div.promo-item
    div.promo-item__container
      .promo-item__first
        h3.promo-item__title= title
        .promo-item__content
          block
          a.promo-item__more(href="#") Хочу узнать о книге больше
      .promo-item__last
        img.promo-item__photo(alt= title,src= img)





