mixin delivery()
  div.delivery__container
    div.delivery__content
      h2.delivery__title Доставим в любое место
      span.delivery__subtitle // ну почти в любое
      div.delivery__descr
        block


