mixin features()
  div features
    h2.features__title Доставим в любое место
    .features__content
      .features__content-item Покупаете книги на сайтев любимом формате - бумажные, электронные или аудио.
      .features__content-item Мы подарим вам "Набор читателя" и добавим в посылку.
      .features__content-item Бесплатно доставляем заказы от 3 000 по всей России.
      .features__content-item Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу - бесплатно.

